.boost {
    color : green;
}

.empty {
    background-color: #000000;
}

.SnakeBody {
    color: white;
}
.SnakeHead {
    color: white;
}

td {
    border : 2px solid white;
    width : 5vw;
    height : 5vw;
}

table {
    background-color: #111111;
}

body {
     background-color: grey;
}
